.login .title {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--dark);
    text-align: center;
}

.login-form-wrapper {
    background-color: var(--light);
    padding: 2rem;
    border-radius: 0.25rem;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    min-width: 280px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-form-wrapper .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.login-form-wrapper .input-group .icon {
    color: var(--logo);
}

.login-form-wrapper .input-group label {
    font-weight: bold;
}
.login-form-wrapper .input-group input {
    padding: 0.25rem 0.5rem;
}

.login .login-button {
    background-color: var(--logo);
    color: var(--light);
}

.login .login-button:hover {
    background-color: var(--logo-dark);
}


@media screen and (max-width: 380px) {
    .login-form-wrapper .input-group input {
        max-width: 240px;
    }

    .login .login-button {
        max-width: 240px;
    }

    .login-form-wrapper {
        min-width: 240px;
    }

}
