/* .comment-container {

} */

.comment-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}


.comment-container .comment-wrapper {
    border: 1px solid;
    border-radius: 10px;
    border-color: var(--border);
}

.comment-container .comment-wrapper .comment-user {
    padding-left: 0.5rem;
    display: flex;
    gap: 0.3rem;
    font-weight: 650;
}

.comment-container .comment-wrapper .comment-user .comment-user-name {
    color: var(--text-grey-dark);
}

.comment-container .comment-wrapper .comment-text {
    color: var(--text-grey-light);
    padding-left: 2.3rem;
    margin-top: 0;
}

/* .comment-container .comment-user-wrapper {
    display: flex;
    gap: 0.3rem;
}

.comment-container .comment-user-wrapper .comment-user-name {
    color: var(--text-grey-dark);
}

.comment-container .comment-text-wrapper {
    
}

.comment-container .comment-text-wrapper .comment-text {
    color: var(--text-grey-light);
    padding: 0 1rem 
} */