.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-light);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper .logo-wrapper {
    display: flex;
    text-decoration: none;
}

.wrapper .logo-wrapper .logo-title {
    font-weight: bold;
    color: var(--logo);
    font-size: 3rem;
}